Support comprehensive list of mementos

It's nice to see this module exists for node.

I would like to be able to get a comprehensive list of all mementos for a URI, not just those that resolve when I send the Accept-Datetime HTTP header. This can be accomplished by querying a TimeGate to obtain the TimeMap.

One caveat that I have come across, especially when dealing with Memento aggregators, is paginated TimeMaps. The facility (see § 5.1.1 of RFC7089) allows a large collection of mementos (e.g., from cnn.com) to be spread across multiple TimeMaps.
